/* Fonts */
@font-face {
    font-family: 'codec_proitalic';
    src: url('/assets/fonts/codecpro-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/codecpro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'codec_proregular';
    src: url('/assets/fonts/codecpro-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/codecpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$regular_font: 'codec_proregular';
$italic_font: 'code_proitalic';

/* Colors */
$primary_1: #555c60;
$primary_2: #888f70;
$secondary_1: #a4ac9e;
$secondary_2: #d4ddb7;
$secondary_3: #eff0ec;
$acccent: #3f4726;

body {
    background-color: $secondary_3;
    font-family: $regular_font;
    margin: 0px;
    padding: 0px;
    font: {
        family: $regular_font;
        size: 14px;
    }
}

a {
    color: inherit;
}

p {
    font-size: 1.6em;
}

header {
    height: 100vh;
    padding: 2em 0;
    box-sizing: border-box;
    background: {
        image:  url('/assets/images/hero.webp');
        position: left top;
        size: 100% auto;
        repeat: no-repeat;
    };
    h1 {
        color: $primary_1;
        font-size: 5.5em;
        margin-bottom: 0.3em;
    }
    h2 {
       font: {
        size: 3.5em;
        weight: normal;
       }
       margin: 0 0 1em 0;
    }
    p {
        font: {
            size: 2em;
        }
    }
}

nav {
    padding: 1em 4em;
    top: 0;
    position: sticky;
    a {
        color: #000;
        text-decoration: none;
        padding: 2em 0.7em;
        transition: 0.4s;
    }
    a:hover {
        border-top: solid 3px $primary_2;
        padding-top: calc(0.7em - 3px);
        color: $primary_2;
    }
    .icon {
        display: none;
    }
}

#hero {
    height: calc(100% - 1.4em - 14px);
    padding: 4em;
    display: flex;
    align-items: center;
    p {
        width: 40%;
    }
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

section {
    padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
}

.card {
    background-color: #fff;
    width: 350px;
    height: 30em;
    margin: 1em;
    border-radius: 30px;
    .img-container {
        border-radius: 30px;
        width: 100%;
        max-height: 200px;
        display: inline-block;
        overflow:hidden;
    }
    img {
        width:100%;
        transition: 0.5s;
    }
    .card-body {
        padding: 1.5em;
        min-height: 175px;
        position: relative;
    }
    h4 {
        font-size:2em;
        padding: 0 2em;
        margin: 1em 0;
    }
    button {
        width: 80%;
        background-color: $acccent;
        color: $secondary_3;
        text-transform: uppercase;
        font-size: 1.1em;
        border: none;
        border-radius: 20px;
        padding: 0.7em;
        transition: 0.15s;
        position: absolute;
        bottom: 1.5em;
        left: 10%;
    }
    button:hover {
        background-color: $primary_2;
        font-weight: bolder;
        transform: scale(1.1);
    }
    transition: 0.15s;
}
.card:hover {
    box-shadow: 0px 0px 10px 3px $acccent;
}

#about {
    background-color: $secondary_1;
    h3 {
        font: {
            size: 1.6em;
            weight: normal;
        }
    }
    p {
        font-size: 3em;  
    }
    div {
        transition: 0.4s;
    }
}

#projects {
    background-color: #d4ddb7;
    h2 {
        margin: 0px;
        display: inline-block;
        font: {
            size: 4.5em;
            weight: bolder;
        }
        transition: 0.4s;
    }
    p {
        margin: 3em 0;
    }
}

#project-gallery {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}

#solving {
    padding: 0 0 8em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: $secondary_3;
    > :first-child {
        margin-top: 8em;
        width: 50%;
        h2 {
            font-size: 5em;
            position: relative;
            left: -100%;
            padding-right: 15%;
            text-align: end;
            transition: 0.4s;
         }
    }
    > :last-child {
        text-align:left;
        width: 50%;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 0 0 0 60px;
            position:relative;
            right: -100%;
            transition: 0.4s;
        }
        p {
            padding: 1.5em 0;
            line-height: 1.5em;
            text-align:justify;
            width: 70%;
            word-wrap: break-word;
        }
        button {
            background-color: $primary_2;
            color: #fff;
            text-transform: uppercase;
            border: none;
            border-radius: 30px;
            padding: 1.2em 3em;
            transition: 0.4s;
            font: {
                weight: bolder;
                size: 1.2em;
            }
        }
        button:hover {
            background-color: $acccent;
            padding: 1.2em 5em;

        }
    }
}

#creating {
    background-color: $primary_2;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
        min-height: 100%;
        min-width: 100%;
        position: relative;
        border-radius: 0 6em 6em 0;
        transform: scale(0);
        transition: 0.4s;
    }
    > :first-child {
        width: 50%;
        border-radius: 0 6em 6em 0;
        text-align: right;
        overflow: hidden;
    }
    > :last-child {
        width: 50%;
        text-align: left;
        padding: 0 4em;
        box-sizing: border-box;
        align-self:flex-end;
        overflow: hidden;
    }
    h2 {
        font-size: 4em;
        // letter-spacing: 40px;
        transition: 0.4s;
    }
    p {
        width: 75%;
        margin-bottom: 8em;
    }
    button {
        background-color: $secondary_2;
        text-transform: uppercase;
        border: none;
        border-radius: 30px;
        padding: 1.2em 3em;
        transition: 0.4s;
        font: {
            weight: bolder;
            size: 1.2em;
        }
    }
    button:hover {
        background-color: $acccent;
        color: #fff;
        padding: 1.2em 5em;
    }
}

#learning {
    background-color: $secondary_2;
    h2 {
        font-size: 4em;
    }
}

#learning-gallery {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    .card {
        background-color: $primary_2;
        width: 35%;
        height: 40em;
        color: #fff;
        transform: rotatey(90deg);
        .img-container {
            border-radius: 30px;
            width: 100%;
            max-height: 300px;
            display: inline-block;
            overflow:hidden;
        }
        .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        transition: 0.8s;
    }
}

footer {
    background-color: $acccent;
    color: #fff;
    text-align: center;
    padding: 2em 10%;
    h2 {
        font: {
            size: 4.5em;
            weight: normal;
           } 
    }
}

form {
    margin: auto;
    #formbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        div {
            width: 500px;
            text-align: left;
            padding: 0.5em;
            box-sizing: border-box;
        }
    }
    button {
        font-size: 1.5em;
        padding:0.7em 2.5em;
        border: none;
        background-color: $secondary_2;
        color: $acccent;
        border-radius: 1.45em;
        transition: 0.4s;
        font-family: $regular_font;
    }
    button:hover {
        padding:0.7em 6em;
        background-color: $secondary_3;
    }
}
label {
   padding: 1.2em;
   font-size: 1.5em;
}
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    font-family: $regular_font;
    padding:0.7em 1.2em;
    margin: 0.3em 0 1.5em 0;
    background-color: $secondary_3;
    color: $acccent;
    border-radius: 1.45em;
}

#icons {
    margin-top: 1.5em;
    font-size: 3em;
    text-align: right;
    i {
        padding: 0.4em;
        transition: 0.4s;
    }
    i:hover {
        transform: scale(1.2);
        color: $secondary_2;
    }
}

@media screen and (max-width: 992px) {
    section {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .card {
        width: 60%;
        margin: 2em 1em;
    }
    #icons {
        text-align: center;
    }
    #solving {
        > :first-child {
            width: 100%;
            margin-top: 4em;
            h2 {
                text-align: center;
                padding: 0%;
            }
        }
        > :last-child {
            width: 100%;
            text-align: center;
            img {
                border-radius: 60px 0 0 60px;
                padding-left: 5%;
            }
            p {
                width: 90%;
                margin: auto;
            }
        }
    }
    #creating {
        > :first-child {
            width: 100%;
            margin-right: 5%;
        }
        > :last-child {
            width: 100%;
            text-align: center;
        }
        p {
            width: 100%;
            margin-bottom: 4em;
        }
    }

    #learning-gallery {
        padding-left: 0;
        padding-right: 0;
        .card {
            width: 90%;
        }
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    nav {
        padding: 0;
        a:hover {
            border: 0px;
            padding: 2em 0.7em;
        }
    }
    header {
        padding: 0;
    }
    .topBar {
        a {
            display: none;
        }
        .icon {
            float: right;
            display: block;
            font-size: 2.3em;
            padding: 5%;
        }
    }
    .topBar.responsive {
        a {
            display: block;
            background-color: $secondary_3;
        }
        a:hover {
            background-color: $primary_1;
            color: #fff;
        }
        .icon {
            background:none;
            position: absolute;
            right: 0;
            top: 0;
            
        }
    }

}